@mixin font-face(
  $font-family,
  $font-src-woff2,
  $font-src-woff,
  $font-weight,
  $font-style
) {
  @font-face {
    font-family: $font-family;
    src: $font-src-woff2, $font-src-woff;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}
