/* Типографика */
$primary-font: "PT Sans", "Arial", sans-serif;

/* Палитра */

/* Нейтральные */
$white:    #ffffff;
$grey-100: #f2f2f2;
$grey-200: #e5e5e5;
$grey-700: #333333;
$black:    #000000;

$white-30: rgba(255, 255, 255, 0.3);
$white-60: rgba(255, 255, 255, 0.6);
$black-30: rgba(0, 0, 0, 0.3);

/* Коричневый */
$brown-500:    #756157;
$brown-700:    #615048;
$brown-500-30: rgba(117, 97, 87, 0.3);

/* Синий */
$blue-300:    #82b3d3;
$blue-500:    #68a2ca;
$blue-700:    #3f5e72;
$blue-300-12: rgba(131, 179, 211, 0.12);
$blue-300-20: rgba(131, 179, 211, 0.2);
$blue-500-30: rgba(104, 162, 202, 0.3);

/* Зелёный */
$green-400: #7db54f;
$green-600: #6c9e42;

/* Красный */
$red-500: #ff5757;
