.advantages__item {
  background-color: $blue-300;
  color: $white;
}

.advantages__item--square,
.advantages__item--tourists {
  background-color: $blue-300-12;
  color: $grey-700;
}

.advantages__item--road {
  background-color: $blue-300-20;
  color: $grey-700;
}

.advantages__item--square .advantages__title,
.advantages__item--tourists .advantages__title,
.advantages__item--road .advantages__title {
  color: $black;
}

.advantages__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
