.advantages {
  color: $black;
  background-color: $blue-300-12;
}

.advantages__item--wide {
  color: $white;
  background-color: $blue-300;
}

.advantages__item:nth-child(7n + 3),
.advantages__item:nth-child(7n) {
  background-color: $blue-300-20;
  color: $grey-700;
}

.advantages__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
