.features__slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
}

.features__description {
  font-size: 22px;
  line-height: 26px;
}

.features__item {
  color: $grey-700;
  background-color: $blue-300-12;
}

.features__item--food {
  background-color: $white;
}

.features__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: $black;
}
