.page__body {
  font-family: $primary-font;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: $grey-700;
  background-color: $grey-100;
}

.page__catalog-hero {
  background-image: url("../../images/background/filter@1x.jpg");
  background-color: $blue-500;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: $white;
}
